@page
@model NipssDOS.Areas.Root.Pages.ParticipantManager.CreateModel

@{
    ViewData["Title"] = "Create";
}



<div class="card-body">

    <h4>Create or Update Participant</h4>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div style="border:1px solid green;margin-bottom:10px;padding:10px;">
                    <h4>If Account Already Exsist. Just Add Account to SEC</h4>

                    <div class="form-group">
                        <label asp-for="ProfileId" class="control-label"></label>

                        <select asp-for="ProfileId" class="form-control select2" asp-items="ViewBag.ProfileId">
                            <option>NILL</option>
                        </select>
                    </div>
                </div>
                <div style="border: 1px solid red; padding: 10px;">
                    <h4>If Account does not Exsist. Create and add Account to SEC</h4>


                    <div class="form-group">
                        <label asp-for="Profile.Title" class="control-label"></label>

                        <select asp-for="Profile.Title" class="form-control">
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Chief">Chief</option>
                            <option value="Alhaji">Alhaji</option>
                            <option value="Mallam">Mallam</option>
                            <option value="Ambassador">Ambassador</option>
                            <option value="Col.">Col.</option>
                            <option value="Major General">Major General</option>
                            <option value="Comrade">Comrade</option>
                            <option value="Captain">Captain</option>
                            <option value="Capt Navy.">Capt Navy.</option>
                            <option value="Brig Gen.">Brig Gen.</option>
                            <option value="Air Comdr.">Air Comdr.</option>
                            <option value="AVM">AVM</option>
                            <option value="Gp Capt.">Gp Capt.</option>
                            <option value="Dr">Dr</option>
                            <option value="Engr.">Engr.</option>
                            <option value="Pharm.">Pharm.</option>
                            <option value="CP">CP</option>
                            <option value="AIG">AIG</option>
                            <option value="DIG">DIG</option>
                            <option value="Prof.">Prof.</option>
                            <option value="Barr.">Barr.</option>
                            <option value="Hajiya">Hajiya</option>
                            <option value="Prince">Prince</option>
                            <option value="Miss">Miss</option>
                            <option value="Princess">Princess</option>
                            <option value="Commodore">Commodore</option>
                            <option value="Brig.">Brig.</option>
                            <option value="Major">Major</option>
                            <option value="Hon.">Hon.</option>
                            <option value="Hon. Justice">Hon. Justice</option>
                            <option value="HRH">HRH</option>
                        </select>

                        <span asp-validation-for="Profile.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.FullName" class="control-label"></label>
                        <input asp-for="Profile.FullName" class="form-control" />
                        <span asp-validation-for="Profile.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.DOB" class="control-label"></label>
                        <input asp-for="Profile.DOB" class="form-control" type="date"/>
                        <span asp-validation-for="Profile.DOB" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.Gender" class="control-label"></label>
                        <select asp-for="Profile.Gender" class="form-control" required="required">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>                        <span asp-validation-for="Profile.Gender" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>State of Origin </label>
                        <select asp-for="Profile.StateOfOrigin" asp-items="ViewBag.StateId" required="required" id="State" class="form-control">
                            <option>Select State</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label>L G A </label>
                        <select asp-for="Profile.LGA" id="LGA" class="form-control"></select>

                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.ResidenceAddress" class="control-label">Residence Address</label>
                        <input asp-for="Profile.ResidenceAddress" class="form-control" />
                        <span asp-validation-for="Profile.ResidenceAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.OfficeAddress" class="control-label">Office Address</label>
                        <input asp-for="Profile.OfficeAddress" class="form-control" />
                        <span asp-validation-for="Profile.OfficeAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.ShortProfile" class="control-label">Short Profile</label>
                        <input asp-for="Profile.ShortProfile" class="form-control" />
                        <span asp-validation-for="Profile.ShortProfile" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Profile.Sponsor" class="control-label"></label>
                        <input asp-for="Profile.Sponsor" class="form-control" />
                        <span asp-validation-for="Profile.Sponsor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="control-label"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.PhoneNumber" class="control-label"></label>
                        <input asp-for="Profile.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Profile.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.AltPhoneNumber" class="control-label"></label>
                        <input asp-for="Profile.AltPhoneNumber" class="form-control" />
                        <span asp-validation-for="Profile.AltPhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Profile.PsNumber" class="control-label"></label>
                        <select asp-for="Profile.PsNumber" class="form-control" required="required">
                            <option>None</option>
                            <option value="Lake Side 1">Lake Side 1</option>
                            <option value="Lake Side 2">Lake Side 2</option>
                            <option value="Lake Side 3">Lake Side 3</option>
                            <option value="Lake Side 4">Lake Side 4</option>
                            <option value="Lake Side 5">Lake Side 5</option>
                            <option value="Lake Side 6">Lake Side 6</option>
                            <option value="Lake Side 7">Lake Side 7</option>
                            <option value="Lake Side 8">Lake Side 8</option>
                            <option value="Lake Side 9">Lake Side 9</option>
                            <option value="Lake Side 10">Lake Side 10</option>
                            <option value="Lake Side 11">Lake Side 11</option>
                            <option value="Lake Side 12">Lake Side 12</option>
                            <option value="Lake Side 13">Lake Side 13</option>
                            <option value="Lake Side 14">Lake Side 14</option>
                            <option value="Lake Side 15">Lake Side 15</option>
                            <option value="Lake Side 16">Lake Side 16</option>
                            <option value="Lake Side 17">Lake Side 17</option>
                            <option value="Lake Side 18">Lake Side 18</option>
                            <option value="Lake Side 19">Lake Side 19</option>
                            <option value="Lake Side 20">Lake Side 20</option>
                            <option value="Lake Side 21">Lake Side 21</option>
                            <option value="Lake Side 22">Lake Side 22</option>
                            <option value="Lake Side 23">Lake Side 23</option>
                            <option value="Lake Side 24">Lake Side 24</option>
                            <option value="Lake Side 25">Lake Side 25</option>
                            <option value="Lake Side 26">Lake Side 26</option>
                            <option value="PS Number 1">PS Number 1</option>
                            <option value="PS Number 2">PS Number 2</option>
                            <option value="PS Number 3">PS Number 3</option>
                            <option value="PS Number 4">PS Number 4</option>
                            <option value="PS Number 5">PS Number 5</option>
                            <option value="PS Number 6">PS Number 6</option>
                            <option value="PS Number 7">PS Number 7</option>
                            <option value="PS Number 8">PS Number 8</option>
                            <option value="PS Number 9">PS Number 9</option>
                            <option value="PS Number 10">PS Number 10</option>
                            <option value="PS Number 11">PS Number 11</option>
                            <option value="PS Number 12">PS Number 12</option>
                            <option value="PS Number 13">PS Number 13</option>
                            <option value="PS Number 14">PS Number 14</option>
                            <option value="PS Number 15">PS Number 15</option>
                            <option value="PS Number 16">PS Number 16</option>
                            <option value="PS Number 17">PS Number 17</option>
                            <option value="PS Number 18">PS Number 18</option>
                            <option value="PS Number 19">PS Number 19</option>
                            <option value="PS Number 20">PS Number 20</option>
                            <option value="PS Number 21">PS Number 21</option>
                            <option value="PS Number 22">PS Number 22</option>
                            <option value="PS Number 23">PS Number 23</option>
                            <option value="PS Number 24">PS Number 24</option>
                            <option value="PS Number 25">PS Number 25</option>
                            <option value="PS Number 26">PS Number 26</option>
                            <option value="PS Number 27">PS Number 27</option>
                            <option value="PS Number 28">PS Number 28</option>
                            <option value="PS Number 29">PS Number 29</option>
                            <option value="PS Number 30">PS Number 30</option>
                            <option value="PS Number 31">PS Number 31</option>
                            <option value="PS Number 32">PS Number 32</option>
                            <option value="PS Number 33">PS Number 33</option>
                            <option value="PS Number 34">PS Number 34</option>
                            <option value="PS Number 35">PS Number 35</option>
                            <option value="PS Number 36">PS Number 36</option>
                            <option value="PS Number 37">PS Number 37</option>
                            <option value="PS Number 38">PS Number 38</option>
                            <option value="PS Number 39">PS Number 39</option>
                            <option value="PS Number 40">PS Number 40</option>
                            <option value="PS Number 41">PS Number 41</option>
                            <option value="PS Number 42">PS Number 42</option>
                            <option value="PS Number 43">PS Number 43</option>
                            <option value="PS Number 44">PS Number 44</option>
                            <option value="PS Number 45">PS Number 45</option>
                            <option value="PS Number 46">PS Number 46</option>
                            <option value="PS Number 47">PS Number 47</option>
                            <option value="PS Number 48">PS Number 48</option>
                            <option value="PS Number 49">PS Number 49</option>
                            <option value="PS Number 50">PS Number 50</option>
                            <option value="PS Number 51">PS Number 51</option>
                            <option value="PS Number 52">PS Number 52</option>
                            <option value="PS Number 53">PS Number 53</option>
                            <option value="PS Number 54">PS Number 54</option>
                            <option value="PS Number 55">PS Number 55</option>
                            <option value="PS Number 56">PS Number 56</option>
                            <option value="PS Number 57">PS Number 57</option>
                            <option value="PS Number 58">PS Number 58</option>
                            <option value="PS Number 59">PS Number 59</option>
                            <option value="PS Number 60">PS Number 60</option>
                            <option value="PS Number 61">PS Number 61</option>
                            <option value="PS Number 62">PS Number 62</option>
                            <option value="PS Number 63">PS Number 63</option>
                            <option value="PS Number 64">PS Number 64</option>
                            <option value="PS Number 65">PS Number 65</option>
                            <option value="PS Number 66">PS Number 66</option>
                            <option value="PS Number 67">PS Number 67</option>
                            <option value="PS Number 68">PS Number 68</option>
                            <option value="PS Number 69">PS Number 69</option>
                            <option value="PS Number 70">PS Number 70</option>
                            <option value="PS Number 71">PS Number 71</option>
                            <option value="PS Number 72">PS Number 72</option>
                            <option value="PS Number 73">PS Number 73</option>
                            <option value="PS Number 74">PS Number 74</option>
                            <option value="PS Number 75">PS Number 75</option>
                            <option value="PS Number 76">PS Number 76</option>
                            <option value="PS Number 77">PS Number 77</option>
                            <option value="PS Number 78">PS Number 78</option>
                            <option value="PS Number 79">PS Number 79</option>
                            <option value="PS Number 80">PS Number 80</option>
                            <option value="PS Number 81">PS Number 81</option>
                            <option value="PS Number 82">PS Number 82</option>
                            <option value="PS Number 83">PS Number 83</option>
                            <option value="PS Number 84">PS Number 84</option>
                            <option value="PS Number 85">PS Number 85</option>
                            <option value="PS Number 86">PS Number 86</option>
                            <option value="PS Number 87">PS Number 87</option>
                            <option value="PS Number 88">PS Number 88</option>
                            <option value="PS Number 89">PS Number 89</option>
                            <option value="PS Number 90">PS Number 90</option>
                            <option value="PS Number 91">PS Number 91</option>
                            <option value="PS Number 92">PS Number 92</option>
                            <option value="PS Number 93">PS Number 93</option>
                            <option value="PS Number 94">PS Number 94</option>
                            <option value="PS Number 95">PS Number 95</option>
                            <option value="PS Number 96">PS Number 96</option>
                            <option value="PS Number 97">PS Number 97</option>
                            <option value="PS Number 98">PS Number 98</option>
                            <option value="PS Number 99">PS Number 99</option>
                            <option value="PS Number 100">PS Number 100</option>
                        </select>

                        <span asp-validation-for="Profile.PsNumber" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group">
                    <label asp-for="StudyGroupId" class="control-label">Study Group</label>
                    <select asp-for="StudyGroupId" class="form-control" asp-items="ViewBag.StudyGroupId"></select>
                </div>

                <input asp-for="Profile.AlumniId" type="hidden" value="@Model.AlumniId" />
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>


</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/jscript">
        $(function () {
            $('#State').change(function () {
                console.log("enter")

                //$.getJSON('/Profile?handler=LGA' + $('#State').val(), function (data) {
                //    console.log("in")
                //    var items = '<option>Choose LGA</option>';
                //    $.each(jQuery.map(data, function (i, local) {
                //        items += "<option value='" + i.value + "'>" + i.text + "</option>";
                //        console.log("vin")
                //    }));

                //    $('#LGA').html(items);
                //});

                $.ajax({
                    type: 'GET',
                    url: 'Create?handler=LGA',
                    dataType: "json",
                    data: {
                        id: $('#State').val()
                    },
                    contentType: "application/json; charset=utf-8",
                    error: function () {
                        console.log("error");
                    },
                    success: function (data) {
                        console.log("yes");

                        console.log(data);
                        var items = '<option>Choose LGA</option>';
                        $.each(jQuery.map(data, function (i, local) {
                            items += "<option value='" + i.value + "'>" + i.text + "</option>";
                            console.log("vin")
                        }));

                        $('#LGA').html(items);

                    }
                });
                console.log("pass")
            });
        });
    </script>

}