@page
@model NipssDOS.Areas.Root.Pages.Main.AlumniModel

@{
    ViewData["Title"] = "Index";
}
<style>
    .oneline {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
<div class="card-body">


    <h2>SENIOR EXECUTIVE COURSE</h2>

    <div class="row">
        @foreach (var item in Model.Alumni)
        {
            <div class="col-md-4">
                <!-- small box -->
                <div class="small-box @item.Color">
                    <div class="inner">
                        <a asp-page="">
                            <h3>@item.Title</h3>
                        </a>

                        <p class="oneline">@item.GeneralTopic</p>
                    </div>

                    <a asp-page="./AlumniInfo" asp-route-id="@item.Id" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
    </div>

    </div>