@page
@model NipssDOS.Pages.AboutSecModel
@{
}
<div class="rs-breadcrumbs img10">
    <div class="container">
        <div class="breadcrumbs-inner">
            <h1 class="page-title">
                Senior Executive Course (SEC)
            </h1>
            <span class="sub-text">

            </span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <a href="javascript: history.back()" class="pull-right btn btn-danger btn-xs" style="margin:30px;">
        <span class="text-white"> <i class="fa fa-arrow-left"></i> Back</span>
    </a>
</div>
<!-- Breadcrumbs End -->

<div class="clearfix"></div> <!-- Team Section Start -->
<div class="rs-team style1 team-style1 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 mb-30" style="margin:0 auto;text-align:center;">
                <img src="~/sec44.jpg" style="margin:0 auto;text-align:center;" class="img-fluid" />
            </div>
            <div class="col-lg-12 col-md-12 mb-30">

                <div data-elementor-type="wp-page" data-elementor-id="882" class="elementor elementor-882">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-0a12c52 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0a12c52" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-background-overlay"></div>
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-226c0fe" data-id="226c0fe" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-995f956 elementor-widget elementor-widget-elementskit-heading" data-id="995f956" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_center   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title ">
                                                        Senior Executive Course
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-338d7d1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="338d7d1" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f82ce6a" data-id="f82ce6a" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-26865f4 elementor-widget elementor-widget-spacer" data-id="26865f4" data-element_type="widget" data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <style>
                                                /*! elementor - v3.8.1 - 13-11-2022 */
                                                .elementor-column .elementor-spacer-inner {
                                                    height: var(--spacer-size)
                                                }

                                                .e-con {
                                                    --container-widget-width: 100%
                                                }

                                                    .e-con-inner > .elementor-widget-spacer, .e-con > .elementor-widget-spacer {
                                                        width: var(--container-widget-width,var(--spacer-size));
                                                        -ms-flex-item-align: stretch;
                                                        align-self: stretch;
                                                        -ms-flex-negative: 0;
                                                        flex-shrink: 0
                                                    }

                                                        .e-con-inner > .elementor-widget-spacer > .elementor-widget-container, .e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer, .e-con > .elementor-widget-spacer > .elementor-widget-container, .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer {
                                                            height: 100%
                                                        }

                                                            .e-con-inner > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner, .e-con > .elementor-widget-spacer > .elementor-widget-container > .elementor-spacer > .elementor-spacer-inner {
                                                                height: var(--container-widget-height,var(--spacer-size))
                                                            }
                                            </style>		<div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-c5884bb elementor-widget elementor-widget-text-editor" data-id="c5884bb" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>The National Institute for Policy and Strategic Studies, Kuru was established by Decree No. 20,&nbsp; 1979 and CAP&nbsp; Laws of the Federation of Nigeria, 2004.</p><p><br>The Institute is a high- level center for reflection, research, and learning, with the primary objective of serving as the nation’s foremost policy ‘think- tank’, developing a crop of top-class technocrats of high intellectual capacity, conceptualize and anchor the implementation of innovative and dynamic policy initiatives and strategies critical for national development.<br><br>Here, academics of excellence, seasoned policy initiators, and another citizen of mature experience and wisdom, drawn from all walks of life, meet to reflect and exchange ideas on the great issues of society, particularly as they relate to Nigeria and Africa.</p><p>To achieve these objectives the Institute, among other things:</p><ul><li>Conducts courses for top-level policymakers and policy administrators.</li><li>Conducts social and public policy research</li><li>Conducts seminars and workshops,</li><li>Organizes brainstorming sessions.</li><li>Disseminates information through monographs, records, reports, and articles on any part of its activities.</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-fae2c7a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fae2c7a" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-15fe760" data-id="15fe760" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-e000a01 elementor-widget elementor-widget-elementskit-heading" data-id="e000a01" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Organization and Function
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-23b455a elementor-widget elementor-widget-text-editor" data-id="23b455a" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>The governance of the institute and the general direction of its affairs are vested in a Board of governors consisting of the Chairman, the Director-General, and eight other members, that is:</p><ol><li>&nbsp;The chief of Defense Staff or other senior members of the armed forces;</li><li>&nbsp;An eminent Economist;&nbsp;</li><li>An eminent Political Scientist</li><li>The Adviser to the Federal Government on Science and Technology.&nbsp;</li><li>Four members to be appointed by the Federal Government, being persons who by reason of their ability, experience or specialized knowledge or administration or of profession or business to attainments are capable of making a useful contribution to the work of the Institute.</li></ol><p>The Chief Executive is assisted in the daily management of the affairs of the Institute by the Directors who are answerable to him in matters concerning their respective departments, that is, Departments of Administration, Studies and Research.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-21c88e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="21c88e9" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-57e0a8d" data-id="57e0a8d" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-c675bd6 elementor-widget elementor-widget-elementskit-heading" data-id="c675bd6" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Admission to the Senior Executive Course
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e11e94e elementor-widget elementor-widget-text-editor" data-id="e11e94e" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Admission into the Senior Executive Course is by nomination and approval by the Board of Governors. The sponsoring organizations include the Civil Service (Federal and State), the Universities and other institutions of higher learning; the Armed Forces; para-military outfits; the organized private sector, like NACCIMA, MAN, NCWS, NLC, etc; and professional bodies, such as the Council of Registered Engineers of Nigeria (COREN); the Nigeria Medical Association (NMA); Pharmaceutical Society of Nigeria (PSN); Institute of Chartered Accountants of Nigeria (ICAN), etc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-644df94 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="644df94" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fc8a8b7" data-id="fc8a8b7" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-7a99ebc elementor-widget elementor-widget-elementskit-heading" data-id="7a99ebc" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        What qualifies one to be admitted to the Senior Executive Course?
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7f5af1f elementor-widget elementor-widget-text-editor" data-id="7f5af1f" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>Candidates for admission to the course shall fulfill the following conditions:</p><ul><li>The candidate must have attained the age, at least 40 years, with at least, seven years or more in service;&nbsp;</li><li>The candidate must have attended a formal University Course with a Bachelors Degree (minimum of Second Class Lower Division);&nbsp;</li><li>Candidate from the Federal and State Governments must have attained, at least, the level of Director and permanent Secretary, respectively, or equivalent rank;&nbsp;</li><li>Candidate from the Armed Forces must have attained, at least, the rank of a Colonel, in the Army, or its equivalent in other services;&nbsp;</li><li>Candidate from the Nigeria Police Force must have attained, at least, the rank of a Commissioner of Police;</li><li>Candidate from the university or other higher Institutions of learning must have attained the minimum status of Associate Professor, if in the Academic Session, or Deputy Registrar, if in the Administrative Session;&nbsp;</li><li>Candidate from the Private Sector must have attained Management Position, such as General Manager, for at least, a period of five years.</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-5557e14 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5557e14" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-47ad7d3" data-id="47ad7d3" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-1c34241 elementor-widget elementor-widget-elementskit-heading" data-id="1c34241" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        For how long does the Senior Executive Course run?
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-7a44f84 elementor-widget elementor-widget-text-editor" data-id="7a44f84" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>The Senior Executive Course lasts for 10 months, from February to November, each year and covers broadly such areas as:</p><ul><li>Foundation and Cultural Studies.</li><li>Research methodology.&nbsp;</li><li>Policy and Strategic Studies.</li><li>The Domestic Environment.&nbsp;</li><li>Regional Studies (Local and International).&nbsp;</li><li>Defense and Security (Domestic, Regional, and International).&nbsp;</li><li>International Relations and International organizations.&nbsp;</li><li>Science and Technology</li><li>Peace and Conflict/ Crisis Management</li></ul><p>In addition to these studies, Participants receive intensive training in Computer application and the French Language throughout the year.<br>The Course is run on a system of self-study. However, experienced and expert Guest Lecturers drawn from all sectors of life in the society, are tapped to stimulate the thinking of Participants.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-5c2bc56 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c2bc56" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f2e4747" data-id="f2e4747" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-17f2257 elementor-widget elementor-widget-elementskit-heading" data-id="17f2257" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Study Group Meetings
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b01c40a elementor-widget elementor-widget-text-editor" data-id="b01c40a" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>In order to enhance academic and social interaction, Participants are grouped into Study Group (SG). The Study Group meetings provide an opportunity for the participants of each group to exchange ideas on any lecture deliver and to prepare group papers. Should any aspect of a lecture merit policy decisions, the SGs may put a succinct paper providing policy position for the attention of the Government where deemed necessary. Similarly, they may make an appropriate recommendation(s) for research to be conducted on any matter arising from a lecture.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-294356a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="294356a" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-563c256" data-id="563c256" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-7af5380 elementor-widget elementor-widget-elementskit-heading" data-id="7af5380" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Research Project
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-3345023 elementor-widget elementor-widget-text-editor" data-id="3345023" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>This is one of the most important requirements of the studies program of the Institute. At the commencement of each Senior Executive Course Programme, each Participant is expected to submit three topics from which ONE would be approved by the Departmental Board of Studies with or without modification. The topics must have policy relevance that can impact positively on the Nigerian society and therefore assist in our drive “towards a better society”. After preliminary screening of the topics by the Departmental Board of Studies, its recommendations are then forwarded to the Institute’s Board of Studies for final adoption/ modification and approval.<br><br>Upon approval of one of the three proposed topics, Participants commence work immediately on the approved research subjects. Participants are expected to discharge the research according to the laid down program of studies under the supervision of their Supervisors and Study Group Directors. The role of the supervisors is mainly to guide, direct, and offer the participant advice to produce a work that meets the standard of the Institute.<br><br>This is then finally presented and defended before the Board of Studies, Chaired by the Director-General, in the presence of external assessors/ examiners who are distinguished scholars in the area in which the Participant’s Project is situated.<br><br>Participants who fulfill all the requirements of the Senior Executive Course are awarded a certificate entitling them to “Membership of the National Institute” (mni).<br><br>To qualify for the award of the mni certificate, the Participant must have fulfilled the following conditions:</p><ul><li>Attended a minimum of 85% of lectures, discussions, and seminars;</li><li>Participated fully in the local and foreign study tours;</li><li>Submitted and successfully defended an approved project to the Board of Examiners;</li><li>Obtain a minimum overall pass grading in the final assessment of his/her individual and group works;</li><li>Satisfied the Board of Governors/Management of the National Institute, that he/she is a worthy recipient of the Membership of the National Institute (mni) certificate.</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-04f5312 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="04f5312" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e6e8f08" data-id="e6e8f08" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-842e20c elementor-widget elementor-widget-elementskit-heading" data-id="842e20c" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Does NIPSS run any other Course?
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-8606dfc elementor-widget elementor-widget-text-editor" data-id="8606dfc" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>In addition to the senior Executive Course Programme, the National Institute Consulting (NIPSSConsult) was created in 2007 to serve as a vehicle for the effective implementation of one of the key mandates of the Institute. NIPSS Consult currently conducts the policy, Strategy, and Leadership course (PSLC) aimed at enriching the leadership skills of middle- to top-level management personnel in both the public and private sector.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-c57049d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c57049d" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-395588a" data-id="395588a" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-e4f5a03 elementor-widget elementor-widget-elementskit-heading" data-id="e4f5a03" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Continuation or Withdrawal from the Course
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-007c01b elementor-widget elementor-widget-text-editor" data-id="007c01b" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>A participant shall be asked to withdraw from the Senior Executive Course where it appears to the Management/Board of Governors that:</p><ul><li>The Sponsors have found the participants guilty of any crime committed in the course of his/her duties before his/her nomination.</li><li>The participant is found to suffer ill-health that is considered serious enough to affect his/her effective participation.</li><li>The performance of the participant on the course has been adjudged to fall below the standard requirements and the Board of Governors and management of the Institute is convinced that the participant is not likely to fulfill the requirements for the award of member of the National Institute (mni).</li><li>The Participant has been guilty of misdemeanor incompatible with the level of excellence expected while on the course.</li></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-cd103d7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cd103d7" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fc23fb4" data-id="fc23fb4" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-e54d31a elementor-widget elementor-widget-elementskit-heading" data-id="e54d31a" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Withdrawal of the award of the membership of the National Institute (mni)
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-434262b elementor-widget elementor-widget-text-editor" data-id="434262b" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>The ‘mni’ awarded to any participant may be withdrawn for ‘good cause’ by the Board of Governors/ Management of the National Institute.<br><br>&nbsp;That is:</p><ul><li>Conviction for any offence which the Board of Governors and Management of the National Institute consider to be so grievous as to render the person unworthy of retaining the country’s highest Institutional honor.</li><li>Fraudulently obtaining admission to the Senior Executive Course e.g. non-disclosure of/or falsification of information considered necessary for the admission to the course.</li></ul><p>For the withdrawal of the ‘mni’ the Management of the Institute shall make appropriate recommendations to the Board of governors and if the Board of governors approves such recommendations shall be finally forwarded to the president or his accredited representatives for final approval.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ab9b57d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ab9b57d" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0171a95" data-id="0171a95" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-3d4d5d2 elementor-widget elementor-widget-elementskit-heading" data-id="3d4d5d2" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Certificate of Attendance (COA)
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-d41203d elementor-widget elementor-widget-text-editor" data-id="d41203d" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>A participant who fails to fulfill the minimum requirements for the award of membership of the National Institute (mni) may be recommended for the award of a certificate of attendance (COA).</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-6e79d4b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6e79d4b" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-44a5cd9" data-id="44a5cd9" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-bd08312 elementor-widget elementor-widget-elementskit-heading" data-id="bd08312" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Interactive Sessions
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-0a7459e elementor-widget elementor-widget-text-editor" data-id="0a7459e" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>In addition to lectures and seminars, another opportunity is provided for participants to interact on crucial issues with scholars and policy makers both within and outside the Institute, Study Group Directors, directors, and the Director-General at interactive sessions. These round table discussions are on topical issues that the Institute may, from time to time, deem worthy of serious consideration in order to further build up the capacities of participating or assist the Public/Government to tackle the problems arising from or associated with such a topic. The salient points of these discussions are then sieved out and presented to the Government in the form of policy options.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-ba4173b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ba4173b" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7eac969" data-id="7eac969" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-d8e11b3 elementor-widget elementor-widget-elementskit-heading" data-id="d8e11b3" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Study Tours
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-dc8be2f elementor-widget elementor-widget-text-editor" data-id="dc8be2f" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>In addition to the lecture series, interactive sessions, and seminars, there are study tours, designed to give participants practical knowledge of some of the achievements of and constraints to national development in Nigeria. There are two categories of study tours:</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-0fa9ee1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0fa9ee1" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5b0a6d1" data-id="5b0a6d1" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-6788ab6 elementor-widget elementor-widget-text-editor" data-id="6788ab6" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p><em><strong>Local Study tour</strong></em></p><p>For this tour, a global theme is assigned to all the study groups. To conduct this study, they go to selected states of the federation, with each study group going to two states, one in the North and the other in the south. This gives participants some ideas of the prevalence of the problem being studied in both the north and south of the country.<br>After the tour, each study group compiles a report, which then is presented at a plenary in the presence of the representatives of the states visited. The thrust of these reports is the formulation of policy options that are capable of properly articulating the states’ approach to the problems examined in the study tours.</p><p><em><strong>Foreign Study Tour</strong></em></p><p>Like the local study tour, one global theme will be assigned to all the study groups. These tours take the participants, under the supervision of their study group director to selected foreign countries in Africa, Europe and America. The aim is to provide some opportunity for participants to acquire practical knowledge of problems common to Nigeria and the countries visited and how these countries have solved such problems so that we can learn from their experiences.<br>On returning to the Institute, the study groups will compile and present their findings on these tours at plenary sessions.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-0a04898 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0a04898" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f1659ea" data-id="f1659ea" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-f50c321 elementor-widget elementor-widget-elementskit-heading" data-id="f50c321" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Visit to Strategic Institutions
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-b834a17 elementor-widget elementor-widget-text-editor" data-id="b834a17" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>As a further attempt at building capacities of Participants with appropriate knowledge and experience to address the problems facing the country, tours are arranged to strategic Institutions/Establishments to study their operations and constraints. Each Study Group is expected to participate along with the others in the preparation of a common report on the visit. The Study Group Rapporteurs, along with the Rapporteur-General will harmonies these reports and present one report to the plenary. The end product of this is a policy proposal to the Government on the subject of the visit. Unlike the others, this is teamwork of all Participants.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-a63323b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a63323b" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-554844e" data-id="554844e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8952c4f elementor-widget elementor-widget-elementskit-heading" data-id="8952c4f" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        Concluding Seminar/Presidential Parley
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e737f87 elementor-widget elementor-widget-text-editor" data-id="e737f87" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>The final subject in the study programme, which usually comes towards the end of the course, is the concluding seminar. The seminar has one general theme, with a sub-theme for each study group. The subject which is usually of strategic importance to the Nation is central to the total course package and is selected as a theme of focus for all the tours/visits approved by the Board of Studies.</p><p>Each study group presents its paper at the plenary on the sub-theme of the subject assigned to it and thereafter, an invited practitioner and/or scholar discusses the presentation for the study group he/she has been assigned.</p><p>An Executive summary of the concluding seminar is prepared for the annual presidential Parley with Mr. President at the end of the course.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-4785ad0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4785ad0" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c38b014" data-id="c38b014" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-c9cdf89 elementor-widget elementor-widget-elementskit-heading" data-id="c9cdf89" data-element_type="widget" data-widget_type="elementskit-heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="ekit-wid-con">
                                                <div class="ekit-heading elementskit-section-title-wraper text_left   ekit_heading_tablet-   ekit_heading_mobile-">
                                                    <h2 class="ekit-heading--title elementskit-section-title  ekit-heading__title-has-border start">
                                                        The Distinguished Annual Lecture
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-418f609 elementor-widget elementor-widget-text-editor" data-id="418f609" data-element_type="widget" data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <p>On the day prior to the Graduation Ceremony of the participants, which signifies the end of the Course, a distinguished personality is invited to deliver a lecture on a topic of his choice but which should be relevant to the institute’s mandate of moving the nation towards a better society. The fact that this event crowns the Studies programme for the course makes it one of the most important events, which precede the Graduation Ceremony.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>


        </div>
    </div>
</div>
